# Dependencies
/vendor/
node_modules/

# Build outputs
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot

# Storage
/storage/*.key
/storage/pail
app/storage/

# Environment files
.env
.env.backup
.env.production

# IDE and editor files
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.vagrant

# Laravel specific
.phpactor.json
.phpunit.result.cache
.phpunit.cache
bootstrap/compiled.php

# Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log

# Auth
/auth.json